<% @post.categories.each do |category| %>
  <span class="badge"><%= link_to category.name, category_path(category) %></span>
<% end %>

<br/>
<h2><%= link_to @post.title, fix_url(@post.url) %></h2>
<%= @post.description %>
<br/>
<%= link_to 'Edit Post', edit_post_path(@post) %>

<%= form_for [@post, @comment] do |f| %>
  <%= f.label :body, "Leave a comment" %>
  <%= f.text_area :body %>
  <br/>
  <%= f.submit :'Create Comment', class:"btn btn-primary" %>
<% end %>


<h5>Comments:</h5>
<% @post.comments.each do |comment| %>
  <div class="well span8">
  	<%= comment.body %>
  	<br/>
  	<span class='quiet'>by</span> <%= comment.creator.username %>
  	<small>at <%= comment.created_at %></small>
  </div>
  
<% end %>