<% if @category.errors.any? %>
  <h4><%= pluralize(@category.errors.count, "error") %> prohibited this
      post from being saved:</h4>
  <div class="alert alert-error">
    <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @category do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br/>
  <%= f.submit "Create category", class: 'btn btn-primary' %>
  <%= link_to "Back",  categories_path, class: 'btn btn-primary' %>
<% end %>